/// Base
:root {
  /* Colors */
  @each $key, $value in $colors {
    @each $tint-key, $tint-value in $value {
      --clr-#{$key}-#{$tint-key}: #{$tint-value};
    }
  }

  /* Font Families */
  @each $key, $value in $font-families {
    --ff-#{$key}: #{$value};
  }

  /* Font Sizes */
  @each $key, $value in $font-sizes {
    --fz-#{$key}: #{$value};
  }

  /* Font Weights */
  @each $key, $value in $font-weights {
    --fw-#{$key}: #{$value};
  }

  /* Font Styles */
  @each $key, $value in $font-styles {
    --fs-#{$key}: #{$value};
  }

  /* Fixed Spacers */
  @each $key, $value in $fixed-spacers {
    --size-f-#{$key}: #{$value};
  }

  /* Variable Spacers */
  @each $key, $value in $variable-spacers {
    --size-v-#{$key}: #{$value};
  }

  /* Breakpoints */
  @each $key, $value in $breakpoints {
    --bp-#{$key}: #{$value};
  }
}

/// Base - HTML & Body
html {
  scroll-behavior: smooth;
}

body,
.body {
  font-family: var(--ff-primary);
  font-size: var(--fz-md);
  font-weight: var(--fw-400);
  font-style: var(--fs-normal);
  line-height: 1.5;
  position: relative;
}

.body {
  &-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &-grid {
    display: grid;
    place-items: center;
  }
}

:focus {
  outline: 3px solid var(--clr-secondary-400);
}

/// Base - Main
.main {
  container-name: main;
  container-type: inline-size;

  &-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &-grid {
    display: grid;
    place-items: center;
  }
}

/// Base - Containers
.container-fluid {
  --container-padding-inline: var(--size-v-400);

  container-name: containerFluid;
  container-type: inline-size;
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
  position: relative;
}

.container {
  --container-padding-inline: var(--size-v-400);
  --container-width: #{breakpoint('lg')};

  container-name: container;
  container-type: inline-size;
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
  width: min(100%, var(--container-width));
  position: relative;
}

.container-no-padding {
  --container-padding-inline: var(--size-v-0);
}



img {
  cursor: pointer;
}